* {
    font-family: 'Noto Serif TC', serif;
    margin: 0;
    padding: 0;
}

a,
a:focus,
a:hover {
    outline: 0;
    color: inherit;
    text-decoration: none;
}

/*,
*:after,
*:before {
    box-sizing: border-box;
}*/


.bg {
    width: 100%;
    height: 2620px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;

}

.content {
    width: 1188px;
    height: 2680px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

/* header */

.header {
    width: 1188px;
    height: 315px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 131px;
    margin-left: 510px;
    margin-top: 46px;
}

.bar {
    margin-left: 279px;
    margin-top: 67px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.bar_content1 {
    color: #90a2b0;
    margin-right: 50px;
}

.bar_content1:hover ,
.bar_content2:hover ,
.bar_content3:hover {
    color: gray;
    margin-right: 50px;
}

.bar_content4:hover {
    color: gray;
}

.bar_content2 {
    color: #90a2b0;
    margin-right: 50px;
}

.bar_content3 {
    color: #90a2b0;
    margin-right: 50px;
}

.bar_content4 {
    color: #90a2b0;
    margin-right: 215px;
}

.line {
    width: 627px;
    height: 2px;
    background-color: #90a2b0;
    margin-left: 279px;
    margin-top: 24px;
}

/* section01 */

.guyuu {
    font-size: 45px;
    text-align: center;
    color: #595757;
    margin-top: 30px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 30px;
    margin-bottom: 20px;
}

.guyuucontent {
    font-size: 18px;
    text-align: center;
    color: #595757;
    margin-top: 13px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

/* section02 */

.section02 {
    display: flex;
    flex-direction: row;
    width: 780px;
    height: 183px;
    background-color: #e2d5af;
    margin-top: 35px;
    align-self: center;
}

.sc2content1 {
    display: flex;
    flex-direction: row;
    margin-top: 6.2%;
    margin-left: 2%;
}

.sc2text {
    color: #595757;
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 90px;
    margin-top: 5%;
}

.sc2text1 {
    color: #595757;
    display: inline;
    font-size: 18px;
    text-align: left;
    margin-left: 15px;
}

.sctext_1 {
    font-size: 17px;
    font-weight: 600;
}

.sctext_2 {
    font-size: 15px;
    font-weight: 500;
}

/* section3 */
.content_merchan {
    
    width: 100%;
    margin-left: 0;
    margin-top: 3%;
    height: 45px;
    border-radius: 3px;
    background-color: #90a2b0;
    margin-bottom: 0;
}

.content_merchan_text {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.3;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.merchanimgs {
    margin-top: 3%;
    
    left: 50%;
    display: flex;
    flex-direction: row;
}

.content_img {
    display: inline;
    padding-right: 8px;
}

.ctimg1 {
    padding-top: 9%;
    text-align: center;
    font-size: 100px;
    color: #ffffff !important;
    
    background-image: url(../img/merchan1.jpg);
    background-size: cover;
    width: 389px;
    height: 390px;
    margin-right: 12px;
}

.ctimg2 {
    padding-top: 9%;
    text-align: center;
    font-size: 100px;
    color: #ffffff !important;
    
    background-image: url(../img/merchan2.jpg);
    background-size: cover;
    width: 388px;
    height: 390px;
    margin-right: 12px;
}

.ctimg3 {
    padding-top: 9%;
    text-align: center;
    font-size: 100px;
    color: #ffffff !important;
    
    background-image: url(../img/merchan3.jpg);
    background-size: cover;
    width: 388px;
    height: 390px;
    
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-bg: #666;
}
.content1{
    display:flex;
    flex-direction: column;
}



.ctimg1,
.ctimg1:focus {
    font-size: 80px;
    letter-spacing: 2px;
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
}

.ctimg2,
.ctimg2:focus {
    font-size: 80px;
    letter-spacing: 2px;
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
}

.ctimg3,
.ctimg3:focus {
    font-size: 80px;
    letter-spacing: 2px;
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
}

.ctimg1:hover,
.ctimg2:hover,
.ctimg3:hover {
    color: var(--color-white);
    transform: translate(-9px, -9px);

    text-shadow: 0.5px 0.5px 0 var(--color-bg),
        1px 1px 0 var(--color-bg),
        1.5px 1.5px 0 var(--color-bg),
        2px 2px 0 var(--color-bg),
        2.5px 2.5px 0 var(--color-bg),
        3px 3px 0 var(--color-bg),
        3.5px 3.5px 0 var(--color-bg),
        4px 4px 0 var(--color-bg),
        4.5px 4.5px 0 var(--color-bg),
        5px 5px 0 var(--color-bg),
        5.5px 5.5px 0 var(--color-bg),
        6px 6px 0 var(--color-bg),
        6.5px 6.5px 0 var(--color-bg),
        7px 7px 0 var(--color-bg),
        7.5px 7.5px 0 var(--color-bg),
        8px 8px 0 var(--color-bg),
        8.5px 8.5px 0 var(--color-bg),
        9px 9px 0 var(--color-bg);
}

.seemorebtn {
    color: #90a2b0;
    line-height: 3;
    margin-top: 3%;
    margin-left: 41%;
    text-align: center;
    width: 200px;
    height: 50px;
    transition: all 0.5s;
    border: 1px solid rgba(144, 162, 176, 0.5);
    position: relative;
}

.seemorebtn span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.seemorebtn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(144, 162, 176, 0.5);
    transition: all 0.4s;
    transform: scale(1, 0.5);
}

.seemorebtn:hover::before {
    opacity: 1;
    transform: scale(1, 1);
    color: #ffffff;
}

/* section4 */
.section4 {
    margin-top: 2.5%;
    margin-left: 0;
    width: 100%;
    height: 450px;
    background-image: url(../img/process.jpg);
    background-size: cover;
}

.process {
    letter-spacing: 2px !important;
    margin-left: 35%;
    margin-top: 15%;
    text-align: center;
    font-size: 30px;
    border: 2px solid rgba(255, 255, 255, 1);
    color: #ffffff !important;
    display: inherit;
    width: 30%;
    height: auto;
}

.process,
.process:focus {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
}

.process:hover {
    color: var(--color-white);
    transform: translate(-5px, -5px);

    text-shadow: 0.5px 0.5px 0 var(--color-bg),
        1px 1px 0 var(--color-bg),
        1.5px 1.5px 0 var(--color-bg),
        2px 2px 0 var(--color-bg),
        2.5px 2.5px 0 var(--color-bg),
        3px 3px 0 var(--color-bg),
        3.5px 3.5px 0 var(--color-bg),
        4px 4px 0 var(--color-bg),
        4.5px 4.5px 0 var(--color-bg),
        5px 5px 0 var(--color-bg);

}

/* footer */

.footer {
    margin-left: 0;
    width: 1188px;
    height: 120px;
    margin-top: 30px;
    background-color: #c9d4d8;
    display: flex;
}

.footer p {
    margin-left: 82px;
    margin-top: 50px;
    margin-right: 549px;
    font-size: 18px;
    color: #595757;
}

.footer img {
    width: 45px;
    height: 45px;
    margin-top: 38px;
    margin-left: 60px;
}

/* carousel */

.slide {
    margin: 0;
    padding: 0;
}

.slide div {
    width: 100%;
    overflow: hidden;
}

/*vw:视口宽度；1vw 等于视口宽度的1%*/
.aaa {
    background-color: white;
}

.slide ul {
    padding: 0;
    margin: 0;
    float: left;
    display: flex;
}

.slide ul li {

    width: 83vw;
    float: left;
    list-style: none;
    animation: slide 10s ease 0s infinite normal both;
}

.slide ul li img {
    margin-top: 20px;
    margin-left: -15px;
    width: 100%;
    border: 0;
    vertical-align: middle;
}

/*vertical-align:middle;可以避免包裹图片的父级多出几像素的问题*/
/*停顿(开始)>左移>停顿>左移>归零(结束)  此为三张图片  多一张图片加一个停顿+左移*/
@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-100%);
    }

    75% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
        /*66.7%{ transform: translateX(-200%);}
      83.3%{ transform: translateX(-200%);}
      100%{ transform: translateX(0%);}*/
    }

    .imgslide {
        max-width: 100%;
        height: auto;
    }
