*{
font-family: 'Noto Serif TC', serif;
margin:0;
padding:0;

}
a,
a:focus,
a:hover {
    outline: 0;
    color: inherit;
    text-decoration: none;
}
.bar_content1:hover ,
.bar_content2:hover ,
.bar_content3:hover {
    color: gray;
    margin-right: 50px;
}

.bar_content4:hover {
    color: gray;
}
.bg{
    width:100%;
    height:1860px;
    display: flex;
    align-content:flex-start;
    flex-direction:column;
    
}
.header{
    width:1188px;
    height:315px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 131px;
    margin-left: 510px;
    margin-top: 46px;
}
.bar{
    margin-left: 279px;
    margin-top: 67px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
}
.bar_content1{    
    color: #90a2b0;
    margin-right: 50px;
}

.bar_content2{    
    color: #90a2b0;
    margin-right: 50px;
}

.bar_content3{    
    color: #90a2b0;
    margin-right: 50px;
}
.bar_content4{    
    color: #90a2b0;
    margin-right: 215px;
}

.line{
    width:627px;
    height:2px;
    background-color: #90a2b0;
    margin-left: 279px;
    margin-top: 24px;
}
.content{
    width:1188px;
    height:315px;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.statusbar{
    margin-left: 66px;
    height:78px;
    display: flex;
    font-size: 24px;
    color: #595757;
}
.allproduct{
    margin-top: 39px;
}
.arrow , .catalog , .product{
    margin-top: 39px;
    margin-left: 22px;
}

.toppicture{
    margin-top: 38px;
    margin-bottom: 64px;
}

.introduction1{
    display: flex;
    font-size: 24px;
}

.straightline{
    width:1px;
    height:140px;
    background-color: #8da3b0;
    margin-left: 82px;
    margin-top: 110px;
}

.paragraph{
    margin-top: 100px;
    margin-left: 22px;
    margin-right: 161px;
    color: #595757;
}

.paragraph p:nth-child(2){
    margin-top: 24px;
}

.paragraph p:nth-child(3){
    margin-top: 24px;
}

.paragraph2{
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 185px;
    color: #595757;
    display: flex;
    flex-direction: column;
    
}

.lefttop{
    display: flex;
    
}

.straightline2{
    width:1px;
    height:200px;
    background-color: #8da3b0;
    margin-left: 82px;
    margin-top: 30px;
}

.paragraph2 p:nth-child(2){
    margin-top: 24px;
}

.paragraph2 p:nth-child(3){
    margin-top: 24px;
}

.paragraph2 p:nth-child(4){
    margin-top: 24px;
}

.buttons{
    display:flex;
    margin-left: 80px;
    margin-top: 53px;
}

.return{
    display: flex;
    margin-top: 27px;
    margin-right: 111px;
    
}

.return p{
    line-height: 1;
}

.returnpic{
    margin-right: 12px;
    height:30px;
    
    
}

.booking{
    width:210px;
    height:72px;
    border-style: solid;
    border-color: #8ea3b0;
    display: flex;
    justify-content: center;
}

.booking p{
    line-height: 1;
    align-self: center;
    color: #8da3b0;
}

.left{
    display: flex;
    flex-direction: column;
}

.footer{
    width:1188px;
    height:120px;
    margin-top: 64px;
    background-color: #c9d4d8;
    display: flex;
}

.footer p{
    margin-left: 82px;
    margin-top: 50px;
    margin-right: 549px;
    font-size: 18px;
    color: #595757;
}

.footer img{
    width:45px;
    height:45px;
    margin-top: 38px;
    margin-left: 60px;
}